In [5]:
'''
Instructions
If you don't already have it, install the SQLite Browser from http://sqlitebrowser.org/.

Then, create a SQLITE database or use an existing database and create a table in the database called "Ages":

CREATE TABLE Ages ( 
  name VARCHAR(128), 
  age INTEGER
)
Then make sure the table is empty by deleting any rows that you previously inserted, and insert these rows and only these rows with the following commands:

DELETE FROM Ages;
INSERT INTO Ages (name, age) VALUES ('Mungo', 32);
INSERT INTO Ages (name, age) VALUES ('Usman', 30);
INSERT INTO Ages (name, age) VALUES ('Marta', 27);
INSERT INTO Ages (name, age) VALUES ('Carrick', 16);
INSERT INTO Ages (name, age) VALUES ('Rohma', 29);
INSERT INTO Ages (name, age) VALUES ('Kamil', 14);

Once the inserts are done, run the following SQL command:
SELECT hex(name || age) AS X FROM Ages ORDER BY X

Find the first row in the resulting record set and enter the long string that looks like 53656C696E613333.
Note: This assignment must be done using SQLite - in particular, the SELECT query above will not work in any other database. So you cannot use MySQL or Oracle 
for this assignment.
'''
import sqlite3

# Create a database in RAM
db = sqlite3.connect(':memory:')

# Get a cursor object
cursor = db.cursor()
cursor.execute('''
    CREATE TABLE Ages ( 
        name VARCHAR(128), 
        age INTEGER
    )''')

# Make sure the table is empty by deleting any rows that you previously inserted
cursor.execute('''DELETE FROM Ages''')

# Insert these following rows with the following commands
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Mungo', 32)''')
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Usman', 30)''')
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Marta', 27)''')
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Carrick', 16)''')
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Rohma', 29)''')
cursor.execute('''INSERT INTO Ages (name, age) VALUES ('Kamil', 14)''')

#Select user
cursor.execute('''SELECT hex(name || age) AS X FROM Ages ORDER BY X''')

#retrieve the first row
user1 = cursor.fetchone()
#Print the first column retrieved(user's name)
print("First row in the resulting record set: " + user1[0])

#Commit changes into database
db.commit()
#Close database
db.close()

First row in the resulting record set: 4361727269636B3136